<!-- <div class="flex h-screen bg-gray-50 overflow-hidden">

    <app-sidebar class="flex-none z-20"></app-sidebar>

 
    <main class="flex-1 flex flex-col min-w-0 overflow-hidden relative">
        <div class="flex-1 overflow-y-auto scroll-smooth will-change-scroll">
            <app-main-comp></app-main-comp>
        </div>
    </main>
</div> -->

<!-- <div class="flex">
    <div>
        <app-sidebar></app-sidebar>
    </div>
    <div class="flex-1 ">
        <app-main-comp></app-main-comp>
    </div>
</div> -->

<div class="flex h-screen w-screen bg-slate-50 relative overflow-hidden">
    <app-sidebar></app-sidebar>

    <div class="flex-1 flex flex-col min-w-0 overflow-hidden w-full">
       
        <div class="flex-1 overflow-y-auto relative h-full">
            <app-main-comp></app-main-comp>
        </div>
    </div>

    
</div>