.custom-pagination {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.custom-pagination ::ng-deep .ngx-pagination {
  display: flex;
  gap: 6px;
}

.custom-pagination ::ng-deep .ngx-pagination li {
  border-radius: 6px;
  border: 1px solid #e5e7eb;
}

.custom-pagination ::ng-deep .ngx-pagination a,
.custom-pagination ::ng-deep .ngx-pagination button {
  padding: 6px 12px;
  color: #374151;
  font-weight: 500;
}

.custom-pagination ::ng-deep .ngx-pagination .current {
  background-color: #4f46e5;
  color: white;
  border-radius: 6px;
}

.custom-pagination ::ng-deep .ngx-pagination a:hover {
  background-color: #eef2ff;
}
